body {
    background-color: #eee;
}
#header{
    text-align: center;
    padding-top: 70px;
}
#main-portion{
    background-color: white;
    margin-top: 50px;
    margin-left: 20px;
    width: 1540px;
    height: 700px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: center;
}
.timeline {
  text-align: left;
  display: block;
  width: 400px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

/*ul {
  margin: 0px auto 50px auto;
  display: block;
}
*/

li {
  margin: 16px 0px;
  padding-left: auto;
  padding-right: auto;
}
.bottom{
    text-align: left;
}
h3{
    text-align: center;
}
